<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.mapper.OrderMapper">

	<select id="getAll" resultType="orderDTO">
		select orderNo,
			   memNo,
			   productTotalPrice,
			   deliveryCharge,
			   receiverName,
			   receiverPostcode,
			   receiverAddress,
			   receiverAddressDetail,
			   receiverPhone,
			   receiverRequest,
			   paymentType,
			   createdAt
		from order
		where memNo = #{memNo}
	</select>

	<select id="get" resultType="orderDTO">
		select orderNo,
			   memNo,
			   productTotalPrice,
			   deliveryCharge,
			   receiverName,
			   receiverPostcode,
			   receiverAddress,
			   receiverAddressDetail,
			   receiverPhone,
			   receiverRequest,
			   paymentType,
			   createdAt
		from order
		where orderNo = #{orderNo} and memNo = #{memNo}
	</select>

	<insert id="insert" useGeneratedKeys="true">
		insert into order(memNo, productTotalPrice, deliveryCharge, receiverName, receiverPostcode,
								   receiverAddress, receiverAddressDetail, receiverPhone, receiverRequest, paymentType)
		values (#{memNo}, #{productTotalPrice}, #{deliveryCharge}, #{receiverName}, #{receiverPostcode},
				#{receiverAddress}, #{receiverAddressDetail}, #{receiverPhone}, #{receiverRequest}, #{paymentType});
	</insert>
</mapper>